# requirements-train.txt (on your PC)
numpy
scipy
librosa
scikit-learn
joblib
matplotlib
sounddevice
gdown

python3 06_live_inference.py data/testing_audio/D14-polygamus1_t19_fil250-10k-short.wav